/*  */
.modal-topic {
  background-color: beige;
  margin: auto;

  z-index: 1;
  padding: 13px;
}
.modal-body-t {
  padding: 0;
}
.modal-topic_content-icon i {
  font-size: 20px;
}
.modal-topic_body {
  height: 100%;
  flex-wrap: nowrap !important;
}
.modal-topic_img {
  object-fit: cover;
  flex: 1;
  /* width: 50% !important; */
  border-radius: 5%;
}
.modal-topic_img video {
  width: 100% !important;
}
.modal-topic_img img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  box-shadow: 3px 3px 2px #dee2e6, 0em -2px 0em 0px #dee2e6;
}

.modal-topic_content {
  flex: 1;
}
.modal-topic_content-button_save {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.modal-topic_content-button_save span {
  margin-left: 22%;
  font-size: 17px;
  text-decoration: underline;
}
.modal-topic_content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-btn_save {
  background-color: orange;
  border-radius: 24%;
  width: 25%;
  border: none;
  color: white;
  height: 35px;
}
.modal-topic_content-header1 h1 {
  font-size: 19px;
  font-weight: 600;
}
.modal-topic_content-header1 {
  padding-top: 25px;
}
.modal-topic_content-header1 i span {
  font-size: 9px;
}
.modal-img_group img {
  object-fit: cover;
  width: 30px;
  height: 30px;
  box-shadow: 3px 3px 2px #dee2e6, 0em -2px 0em 0px #dee2e6;
  border-radius: 40%;
}
.modal-img_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}
.modal-topic_content-header1-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-btn_follow {
  background-color: orange;
  border-radius: 24%;
  font-size: 12px;
  color: white;
  font-weight: 600;
  border: none;
}
.modal-img_group span {
  font-size: 12px;
  margin-left: 1%;
}
.modal-topic_content-header1 i {
  font-size: 14px;
}
.modal-topic_content-word h3 {
  font-size: 12px;
  font-weight: 600px;
}
.modal-topic_content-word p {
  font-size: 12px;
}
.model_viewer {
  width: 100%;
  height: 100%;
}
