#main-myModal {
    position: relative;
    min-height: 60vh;
}

.control-slide {
    position: absolute;
    top: 40vh;
    color: rgb(180, 180, 180);
    font-size: 1.4rem;
    cursor: pointer;
    z-index: 2000;
    pointer-events: auto;
}

.control-slide:hover {
    /* filter: brightness(120%); */
    /* color: rgb(241, 241, 241); */
    color: rgba(243, 243, 243, 0.856);
}

.control-slide--previous {
    --length: 16px;
    left: calc(var(--length) * -1 - 24px);
    /* top: 0; */
    padding: var(--length);
}

.control-slide--next {
    --length: 16px;
    /* top: 0; */
    right: calc(var(--length) * -1 - 24px);
    padding: var(--length);
}


/* dddddddddddddddddddddddd */

.modal-content-custom {
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: rgb(234 251 251);
}

.modal-content-custom>div {
    margin: 0;
}

.modal-content-custom-media {
    padding-left: 10px;
    padding-top: 10px;
    min-height: 90vh;
}

.modal-content-custom-media img {}

.modal-topic_img-image {
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 3px 3px 2px #dee2e6, 0em -2px 0em 0px #dee2e6;
}

.modal-content-custom-text {
    /* padding: 20px; */
}

.modal-header-custom {
    padding: 10px 20px 0 10px;
}

.modal-body-custom {
    padding: 10px 20px 0 10px;
}

.item-action {}

.item-action__item {
    color: var(--musesum-text-color-black);
    margin-right: 4px;
}

.title-text {
    font-size: 1.3rem;
}

.text-content {
    color: var(--musesum-text-color-black);
}

.model_viewer {
    width: 100%;
    height: 100%;
}