#main-myModal {
    position: relative;
    min-height: 60vh;
}

.btn-close {
    background: transparent !important;
    color: #000 !important;
    position: absolute;
    top: 0;
    right: 10px;
}

#btn-share-modal {
    pointer-events: auto;
}

.action-top {
    padding-right: 20px;
    padding-top: 20px;
}

.control-slide {
    position: absolute;
    top: 40vh;
    color: rgb(180, 180, 180);
    font-size: 1.4rem;
    cursor: pointer;
    /* z-index: 2000; */
    pointer-events: auto;
}

.control-slide:hover {
    /* filter: brightness(120%); */
    /* color: rgb(241, 241, 241); */
    color: rgba(243, 243, 243, 0.856);
}

.control-slide--previous {
    --length: 16px;
    left: calc(var(--length) * -1 - 24px);
    /* top: 0; */
    padding: var(--length);
}

.control-slide--next {
    --length: 16px;
    /* top: 0; */
    right: calc(var(--length) * -1 - 24px);
    padding: var(--length);
}


/* dddddddddddddddddddddddd */

.modal-content-custom {
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: rgb(234 251 251);
}

.modal-content-custom>div {
    margin: 0;
}

.modal-content-custom-media {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    max-height: 70vh;
    display: flex;
    justify-content: center;
}

.modal-content-custom-media img {}

.modal-topic_img-image {
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 3px 3px 2px #dee2e6, 0em -2px 0em 0px #dee2e6;
    max-height: 66vh;
}

.modal-content-custom-text {
    /* padding: 20px; */
    max-height: 70vh;
    overflow-y: auto;
}

.modal-header-custom {
    padding: 10px 20px 0 10px;
}

.modal-body-custom {
    padding: 10px 20px 0 10px;
}

.item-action {}

.item-action__item {
    color: var(--musesum-text-color-black);
    margin-right: 4px;
}

.title-text {
    font-size: 1.3rem;
}

.text-content {
    color: var(--musesum-text-color-black);
}

.model_viewer {
    width: 100%;
    height: 100%;
}


/* share */

.modal-second {
    z-index: 1552;
}

.modal-backdrop.fade+.modal-backdrop.fade {
    z-index: 1551;
}

#share-modal {
    /* position: absolute; */
    /* top: 30vh;
    left: 10vh; */
    flex-grow: 1;
}

.content-share-modal {
    /* z-index: 2002; */
    pointer-events: auto;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 12px;
    position: relative;
}

#share-modal label {
    font-size: 0.8rem;
    font-weight: 500;
}

#share-modal input {
    outline: none;
    border: 0;
    background-color: #D7D4D4;
    border-radius: 0.25rem;
    padding: 4px 10px;
    color: #01B113;
    width: 100%;
    box-sizing: border-box;
}

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: block;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: 0; */
}

#share-modal button {
    padding: 4px 10px;
    color: #fff;
    font-weight: 400;
    background-color: #F2A447;
    white-space: nowrap;
}